:root{
  /* Color */
  --light-color: #FAEBEF;
  --blue-color: #333D79;
  --dark-color: #2D2926;
}

html, body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: var(--dark-color);
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

code{
  display: block;
  background-color: var(--light-color);
  border-radius: 5px;
  margin: 10px;
}

/* Navigation Bar */
#navbar{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

.overflow-box{
  height: 99vh;
  position: fixed;
  width: 24%;
}

#navbar header{
  font-size: 26px;
  color: var(--blue-color);
  font-weight: bold;
  padding: 15px;
}

#navbar a{
  color: var(--dark-color);
  border-bottom: 1px var(--dark-color) solid;
  padding: 15px;
}

#navbar a:hover{
  text-decoration: underline;
}

/* Main Content */
#content-container{
  padding-left: 26%;
  line-height: 30px;
  text-align: left;
}

.main-section header{
  color: var(--blue-color);
  font-size: 32px;
  font-weight: bold;
  margin: 10px;
}

.goUp{
  width: 45px;
  height: 45px;
  border: var(--dark-color) 1px solid;
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goUp a{
  color: var(--blue-color);
  padding: 10px;
  font-size: 20px;
}

.goUp:hover{
  background-color: #e5e5e5;
  border: #9f9f9f 1px solid;
}

@media (max-width: 815px){
  #navbar{
    overflow-y: scroll;
    height: 100%;
    position: static;
  }
  
  #navbar header{
    text-align: center;
    padding-top: 20px;
  }

  .overflow-box{
    position: static;
    height: 180px;
    width: 100%;
  }

  #content-container{
    padding-left: 10px;
  }

}